<ion-header>
    <ion-toolbar color="primary">
        <ion-title>User Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="tac relative">
        <img src="assets/avatar.png" alt="profile picture">
        <div class="absolute pos-r pos-t">
            <ion-button id="open-action-sheet" shape="round" fill="clear" size="large">
                <ion-icon color="secondary" src="/assets/svg/camera.svg" class="wh-3"></ion-icon>
            </ion-button>
        </div>
        <ion-action-sheet trigger="open-action-sheet" [buttons]="actionSheetButtons"></ion-action-sheet>
    </div>

    <h3 class="tac txt-green">Checked in at Runcorn Tavern</h3>

    <ion-list class="mt">
        <ion-item>
            <ion-input [(ngModel)]="user.name" label="Name" labelPlacement="stacked" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.email" type="email" label="Email" labelPlacement="stacked" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.phone" type="tel" label="Phone Number" labelPlacement="stacked" disabled></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-icon name="calendar-outline" slot="start"></ion-icon> -->
            <!-- use text input to display date to make life easy, datetime is used in the picker -->
            <ion-input [(ngModel)]="user.birthday" label="Email" labelPlacement="stacked" disabled></ion-input>
        </ion-item>
    </ion-list>

    <div class="mt">
        <ion-button expand="full" (click)="editProfile()">
            Edit Profile
        </ion-button>
    </div>

</ion-content>
