<nk-toolbar-add title="My Beers" (runCreate)="create($event)"></nk-toolbar-add>

<!-- inline modal -->
<ion-modal [isOpen]="showModal">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel(false)">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <!-- modal content -->
        <ion-content>
            <ion-list>

                <ion-item>
                    <ion-select interface="action-sheet" label="Beers Name" label-placement="stacked"
                        (ionChange)="handleEditing($event)">
                        <ion-select-option *ngFor="let beer of beers;" [value]="beer">
                            <ion-item>{{beer.name}}</ion-item>
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <!-- current selected item 'editing' -->
                <ion-item>
                    <ion-label>{{editing | json}}</ion-label>
                    <ion-thumbnail slot="start" class="mr-0">
                        <img alt="{{editing.name}}" src="assets/images/{{editing.image}}" style="width: auto; max-height: 100%;" />
                    </ion-thumbnail>
                </ion-item>
            </ion-list>
        </ion-content>
    </ng-template>

</ion-modal>

<ion-content>

    <ion-list #beer>

        <ion-item-sliding *ngFor="let beer of beers; index as i">

            <ion-item (click)="display(beer.id)">
                <ion-thumbnail slot="start" class="mr-0">
                    <img alt="{{beer.name}}" src="assets/images/{{beer.image}}" style="width: auto; max-height: 100%;" />
                </ion-thumbnail>
                <ion-label>
                    {{beer.name}}
                    <div class="txt-muted">Venue Cheapest Name - $8.00</div>
                </ion-label>
            </ion-item>

            <ion-item-options>
                <ion-item-option side="start" (click)="edit(i)" color="success">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="delete(i)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>
