<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class=" h-screen maxw-400 mxy-auto">

        <ion-icon slot="start" src="/assets/svg/beer.svg"></ion-icon>
        <ion-icon slot="start" src="/assets/svg/cheers.svg"></ion-icon>
        <ion-icon slot="start" src="/assets/svg/locations.svg"></ion-icon>
        <ion-icon slot="start" src="/assets/svg/drinker.svg"></ion-icon>
        <ion-icon slot="start" src="/assets/svg/home.svg"></ion-icon>

        <ion-card class="ion-padding">
            <svg class="icon txt-blue wh-4">
                <use xlink:href="/assets/svg/ui-sprite.svg#drinker"></use>
            </svg>
        </ion-card>
        <ion-card class="ion-padding">
            <svg class="icon txt-blue wh-4">
                <use xlink:href="/assets/svg/ui-sprite.svg#locations"></use>
            </svg>
        </ion-card>
        <ion-card class="ion-padding">
            <svg class="icon txt-blue wh-4">
                <use xlink:href="/assets/svg/ui-sprite.svg#beer"></use>
            </svg>
        </ion-card>
        <ion-card class="ion-padding">
            <svg class="icon txt-blue wh-4">
                <use xlink:href="/assets/svg/ui-sprite.svg#home"></use>
            </svg>
        </ion-card>
        <ion-card class="ion-padding">
            <svg class="icon txt-blue wh-4">
                <use xlink:href="/assets/svg/ui-sprite.svg#cheers"></use>
            </svg>
        </ion-card>

    </div>

</ion-content>
