.bg {
    background-image: url(../../../assets/images/splash.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

// h1 {
//     color: rgb(85, 85, 85);
//     -webkit-text-fill-color: rgb(29, 29, 29);
//     -webkit-text-stroke-width: 1px;
//     -webkit-text-stroke-color: black;
// }
