<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title class="tac">
            <h2>{{editing ? beer.name : 'Add Beer'}}</h2>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="editing == true; then thenBlock else elseBlock"></div>
    <!-- display/editing/save -->
    <ng-template #thenBlock>
        <ion-list>
            <ion-item>
                <ion-checkbox [(ngModel)]="beer.is_favourite">Favourite</ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-img src="assets/images/{{beer.image}}" alt="{{beer.name}}" class="mx-auto py-1"></ion-img>
            </ion-item>
            <nk-beer-venues beerVenues="{{beer.venues}}" />
        </ion-list>
    </ng-template>
    <!-- create/save -->
    <ng-template #elseBlock>
        <ion-item>
            <ion-select interface="action-sheet" label="Select Beer" label-placement="stacked" (ionChange)="onSelectChange($event)">
                <ion-select-option *ngFor="let beer of beers;" [value]="beer">
                    <ion-item>{{beer.name}}</ion-item>
                </ion-select-option>
            </ion-select>
        </ion-item>

        <div *ngIf="selectedBeer != undefined; then thenBlock"></div>

        <ng-template #thenBlock>
            <ion-item>
                <ion-checkbox [(ngModel)]="beer.is_favourite">Favourite</ion-checkbox>
            </ion-item>
            <ion-item class="ion-padding">
                <ion-img src="assets/images/{{selectedBeer.image}}" alt="{{selectedBeer.name}}" class="mx-auto"></ion-img>
            </ion-item>
            <ion-list>
                <!-- currently loads hard coded data for development -->
                <nk-beer-venues beerVenues="{{beer.venues}}" />
            </ion-list>
        </ng-template>
    </ng-template>
</ion-content>
