<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title class="tac">
            <h2>{{beer.name}}</h2>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <!-- edit beer -->
        <ion-item>
            <ion-checkbox [(ngModel)]="beer.is_favourite">Favourite</ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-img src="assets/images/{{beer.image}}" alt="{{beer.name}}" class="mx-auto py-1"></ion-img>
        </ion-item>

        <ion-toolbar color="dark">
            <ion-title>Venue Pricing</ion-title>
            <ion-buttons slot="end">
                <ion-button id="open-modal" expand="block" (click)="addVenue()">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div>
            <ion-item-sliding *ngFor="let venue of beer.venues">
                <ion-item>
                    <div class="flex space-between w-full">
                        <div>{{venue.name}}</div>
                        <div>${{venue.price}}</div>
                    </div>
                </ion-item>
                <ion-item-options>
                    <ion-item-option side="start" color="success">
                        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>

    </ion-list>
</ion-content>
