<ion-content [fullscreen]="true">

  <div class="flex va-c ha-c h-screen maxw-400 mxy-auto">

    <ion-card class="w-full">

      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-input label="E-mail" labelPlacement="floating" placeholder="Enter text" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" type="password"></ion-input>
      </ion-item>

      <ion-card-content class="space-y-1">
        <ion-button expand="block" (click)="login()">Login</ion-button>
        <ion-button expand="block" fill="outline">Register</ion-button>
        <ion-item><a class="mx-auto">Forgot username or password?</a></ion-item>
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
