<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>My Beers</ion-title>
        <ion-buttons slot="end">
            <ion-button id="open-modal" expand="block" (click)="addBeer()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <nk-beer-venues beerVenues="{{beerSample.venues}}" /> -->

    <ion-list #beer>
        <ion-item-sliding *ngFor="let beer of myBeers; index as i">
            <ion-item (click)="displayBeer(beer)">
                <ion-thumbnail slot="start" class="mr-0">
                    <img alt="{{beer.name}}" src="assets/images/{{beer.image}}" style="width: auto; max-height: 100%;" />
                </ion-thumbnail>
                <ion-label>
                    {{beer.name}}
                    <div class="txt-muted">Venue Cheapest Name - $8.00</div>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option (click)="delete(beer.beer_id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
