<ion-content [fullscreen]="true">

  <!-- <div class="flex va-c ha-c h-screen maxw-400 mxy-auto"> -->
  <div class=" h-screen maxw-400 mxy-auto">

    <div class="fg1"><ion-button [routerLink]="['/login']" expand="block">Login</ion-button></div>

    <div>

      <ion-icon slot="start" src="/assets/svg/beer.svg"></ion-icon>
      <ion-icon slot="start" src="/assets/svg/cheers.svg"></ion-icon>
      <ion-icon slot="start" src="/assets/svg/locations.svg"></ion-icon>
      <ion-icon slot="start" src="/assets/svg/drinker.svg"></ion-icon>
      <ion-icon slot="start" src="/assets/svg/home.svg"></ion-icon>

      <ion-card class="ion-padding">
        <svg class="icon txt-blue wh-4">
          <use xlink:href="/assets/svg/ui-sprite.svg#drinker"></use>
        </svg>
      </ion-card>
      <ion-card class="ion-padding">
        <svg class="icon txt-blue wh-4">
          <use xlink:href="/assets/svg/ui-sprite.svg#locations"></use>
        </svg>
      </ion-card>
      <ion-card class="ion-padding">
        <svg class="icon txt-blue wh-4">
          <use xlink:href="/assets/svg/ui-sprite.svg#beer"></use>
        </svg>
      </ion-card>
      <ion-card class="ion-padding">
        <svg class="icon txt-blue wh-4">
          <use xlink:href="/assets/svg/ui-sprite.svg#home"></use>
        </svg>
      </ion-card>
      <ion-card class="ion-padding">
        <svg class="icon txt-blue wh-4">
          <use xlink:href="/assets/svg/ui-sprite.svg#cheers"></use>
        </svg>
      </ion-card>

    </div>

  </div>

</ion-content>
