<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                Cancel
            </ion-button>
        </ion-buttons>
        <ion-title class="tac">Edit Profile</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="updateProfile()">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="tac">
        <img src="assets/avatar.png" alt="profile picture">
        <ion-icon size="large" color="secondary" src="/assets/svg/camera.svg" class="wh-5"></ion-icon>
    </div>

    <ion-list class="mt">
        <ion-item>
            <ion-input [(ngModel)]="user.name" label="Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.email" type="email" label="Email"></ion-input>
        </ion-item>
    </ion-list>

</ion-content>
